planning.negotiation.solutions {
        route /* {
                reverse_proxy localhost:3001
        }
}

activate.negotiation.solutions {
        route /* {
                reverse_proxy localhost:3001
        }
}


167.172.55.65 {
        route /* {
                reverse_proxy localhost:3001
        }
}